<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="virtual" stopProcessing="true">
                    <match url="(release|debug|public|favicon|webfonts)\/.*?" />
                    <action type="None" />
                </rule>
                <rule name="Proxy" stopProcessing="true">
                    <match url="(.*?)" />
                    <action type="Rewrite" url="http://localhost:3005/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>
